<app-layout>
  <section class="my-5">
    <h2>Preencha os campos para criar a sua conta</h2>
     <div class="row">
       <div class="col-12 col-md-6">
          <form action="" method="post" class="my-5">
            <div class="my-3">
              <label for="exampleFormControlInput1" class="form-label">Nome</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="digite seu primeiro nome">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Sobrenome</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="digite seu sobrenome">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleFormControlEmail" placeholder="digite seu sobrenome"
                placeholder="fulano@gmail.com">
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">telefone</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="digite seu primeiro nome">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlPass" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleFormControlPass" placeholder="digite sua senha">
            </div>
            <div class="d-flex my-5 justify-content-center align-items-center">
              <button class="btn btn-primary btn-md">criar conta</button>
            </div>
        </form>
       </div>
       <div class="col-12 col-md-6 d-flex justify-content-center">
          <img src="./note-register.jpg" height="500" alt="">
       </div>
     </div>
  </section>
</app-layout>
